// Packages
import React from "react"

// Styles
import * as S from "./styles"

const {{pascalCase name}}: React.FC = () => (
  // -------------------------------------------------
  // Render
  // -------------------------------------------------
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
